.gallery .image-main button {
  height: 30px;
}

.gallery .image-main .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  line-height: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.gallery .image-main .icon i {
  color: white;
}

.gallery-preview-image:hover,
.gallery-preview.selected {
  opacity: 0.5;
}

.gallery-container {
  height: 500px;
  border-bottom: 2px solid #e2e2e2;
}

.gallery-main-image {
  height: 500px;
  padding: 5px;
  background-color: #969696;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.gallery-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding: 25px;
}

.gallery-preview-image {
  height: 100px;
  background-color: #969696;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.3s;
}
