* {
  font-family: "Merriweather", serif;
}

html,
body,
p {
  color: #4f4f4f;
  font-size: 17px;
  line-height: 1.5em;
}

p + h3 {
  margin-top: 40px;
}

.link {
  color: #00988f;
  cursor: pointer;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  height: 1px;
  margin: 40px 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.upper {
  text-transform: uppercase;
}

input[type="text"],
select,
textarea {
  border: 1px solid #e2e2e2;
}

textarea {
  resize: none;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #00988f;
}

h3 small {
  font-size: 15px;
  margin-left: 10px;
  color: #969696;
}

h2 {
  margin-top: 0;
}

.success {
  color: #00988f;
}

button,
.button {
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  font-size: 16px;
  height: 50px;
  padding: 14px 20px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

button:hover,
.button:hover {
  background: #f5f5f5;
}

button.primary,
.button.primary {
  background: #00988f;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: top;
}

button.secondary {
  background: tomato;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button.secondary:hover {
  background: #ff7259;
}

button.small {
  height: 34px;
  padding: 4px 15px;
}

button.full {
  width: 100%;
  font-weight: bold;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

i {
  color: #a2a2a2;
}

.fa-star,
.fa-map-marker-alt {
  color: #00988f;
}

small i + span {
  margin-left: 10px;
}

/* forms */

form input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

form input[type="file"] {
  padding: 13px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #8a8a8a;
}

form .group + .group {
  margin-top: 30px;
}

form .group + button {
  margin-top: 30px;
}

form textarea {
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  height: 100px;
}

.filter-form {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px 0px;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  width: auto;
}
.filter-icon {
  margin-right: 15px;
}

label.checkbox input {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 10px;
}

form.small label {
  color: black;
}

form.small input {
  margin-bottom: 2px;
  height: 34px;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
}

form.small select {
  height: 34px;
  font-size: 14px;
  border-radius: 3px;
}

h2 + form {
  margin-top: 50px;
}

form .rating {
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0;
}

/* filters */

.form-row {
  width: 100%;
  display: flex;
}

.filter-button {
  height: 43px;

  width: 75px;
}

.show-filters-button {
  width: 100%;
  margin: 10px;
  padding: 5px;
  background-color: rgba(220, 220, 220, 0.45);
  text-align: center;
}

.favorite-button {
  background-color: rgb(196, 36, 36) !important;
  color: white !important;
  border-color: white !important;
  height: 45px;
  text-transform: uppercase;
  width: 75px;
}

.filter-row-container {
  justify-items: center;
}

.navbar {
  height: 75px;
}

.navbar-brand {
  float: left;
}

.navbar-text {
}

.contact-button {
  float: right;
}

.asking-price {
  margin: auto;
  padding-top: 10px;
}

.brand-title {
  font-size: 24px;
  text-decoration: underline overline;
}
.logo {
  height: 100px;
}

.favorite {
  margin-left: 10px;
}

.heart-thumbnail {
  position: relative;
  top: 80%;
  right: -85%;
  cursor: pointer;
}

.favorite-count {
  margin: 10px 50px;
  color: gray;
}

.address {
  margin-left: 15px;
}

.intro {
  margin-top: 15px;
}

.fixed {
  height: 100vh;
  overflow-y: hidden;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.listed-date {
  font-size: 12px;

  color: #4f4f4f;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: lightblue;
}

.social-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-icon {
  margin: 0px 5px;
}
