.grid {
  display: grid;
}

.grid.center {
  grid-template-columns: 400px;
  justify-content: center;
}

.grid.sidebar-left {
  grid-template-columns: 200px auto;
  grid-column-gap: 100px;
}

.grid.sidebar-right {
  grid-template-columns: auto 350px;
  grid-column-gap: 100px;
}

.grid.two {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid.four {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow-y: auto;
}

.grid.five {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid.map {
  grid-template-columns: 4fr 2fr;
  align-items: start;
}

.grid.medium {
  grid-template-columns: 1000px;
  justify-content: center;
}

.grid.large {
  padding: 10px 50px;
}

.grid.middle {
  align-content: center;
}

.grid.tall {
  height: 100vh;
}

ul.grid {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul.grid.two {
  grid-row-gap: 0;
}

.grid + h2 {
  margin-top: 50px;
}

.narrow {
  width: 1200px;
  margin: 0 auto;
}

.reviews {
  margin-top: 40px;
}

.grid-container {
  height: 80vh;
  display: grid;
  overflow-y: scroll;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.contact-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: white;
  color: #444;
}

.contact-item {
  border: 1px solid black;
  padding: 25px;
  border-radius: 5px;
  background-color: gray;
}

.a {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.b {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

@media (max-width: 500px) {
  .grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
