.user {
  text-align: left;
  font-size: 18px;

  grid-template-columns: 50px auto;
  grid-column-gap: 10px;
  display: flex;
  align-items: center;
}

.user .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #969696;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user .name > span {
  display: block;
  margin-top: 5px;
}

.user .name > small + span {
  margin-top: 0;
}

.user small {
  display: block;
  font-size: 12px;
  margin: 5px 0 1px 0;
  color: #969696;
}

small + .user {
  margin-top: 30px;
}

.user + .card {
  margin-top: 30px;
}
